<div id="confirm-page">
    <%= form_tag "/guess/do_confirm" do %>

    	<h4>Please confirm the guess below, it helps us learn!</h4>

        <div id="guess-results-label">
            <p>We think that you like <%= @guess.likes.downcase %>. Is that correct?</p>
        </div>

        <div>
        	<%= hidden_field_tag(:guess_id, "#{@guess.id}") %>
            <%= submit_tag "Yes", name: "correct" %>
            <%= submit_tag "No", name: "incorrect" %>
        </div>

    <% end %>
</div>
